<h1>{{title}}</h1>

<!-- narzędzie dostarczone przez Angulara, które nazywa się 'dyrektywą' ngModel -->
<!-- 
  Jak to działa? W skrócie dyrektywa ngModel mówi Angularowi, aby nasłuchiwać na to co wpiszesz w inpucie i przechować to w właściwości 'name' w modelu name oraz
  wypisać wartość w tym inpucie
-->
<!-- niestety nam to nie zadziała chociaż jest to wbudowe w Angulara. Tylko dlateto, że Angular jest rozdzielony na wiele modułów/subpackages i 
    trzeba je dodać, aby móc używać daną paczkę/moduł
    przejdź teraz do app.module.ts
-->

<input id="best__input" type="text" [(ngModel)]="name" />
<label for="best__input">{{name}}</label>

<button (click)="isGreetingVisible()">Click me!</button>
<div *ngIf="isOpen">Hello I'm here!!!</div>


<button (click)="addItemToArray(name)">Add Item</button>

<ul>
  <li *ngFor="let item of items; let i = index;">
    {{item}}
    <button (click)="removeItemFromArray(i)">x</button>
  </li>
</ul>

<h1>{{today | date}}</h1>
<h1>{{name | uppercase}}</h1>
<h1>{{name | json}}</h1>
<h1>{{age | currency: 'USD'}}</h1>
